*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        #990000,
        #ff6e6a
    ) 0 100% no-repeat;
    background-size: 100% 50%;
}

h1{
    text-align: center;
    padding: 100px;
    font-size: 48px;
    letter-spacing: 2px;
}

.container{
    width: 400px;
    padding: 50px;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-wrapper{
    width: 90%;
        display: flex;
        justify-content: space-around;
}

img{
    width: 100px;
    height: 100px;
}

p{
    font-size: 32px;
    margin: 30px 0;
    font-weight: 500;
    letter-spacing: 2px;

}

